html {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 16px;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 3em auto;
  font-size: 0;
}

form > * {
  font-size: 1rem;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.name,
.address {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding-right: 1em;
}

.name + .name {
  padding-right: 0;
  padding-left: 1em;
}

.address + .address {
  padding-left: 1em;
  width: 10%;
}

.address + .address + .address {
  padding-right: 0;
  width: 40%;
}

label, legend {
  display: block;
  padding: 1em 0 0.5em 0;
  margin: 0;
  line-height: 150%;
}

legend + label {
  padding: 0;
}

li label {
  padding: 0;
}

input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  border: 1px solid #cecece;
  font-size: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline;
  width: auto;
  border: none;
}

input[type="reset"],
button {
  all: revert;
}

select {
  width: auto;
  appearance: none;
  border-radius: 0;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 1px;
}

textarea {
  resize: vertical;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}
