html {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 16px;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 3em auto;
  font-size: 0;
}

form > * {
  font-size: 1rem;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.name {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding-right: 1em;
}

.name + .name {
  padding-right: 0;
  padding-left: 1em;
}

label, legend {
  display: block;
  padding: 1em 0 0.5em 0;
  margin: 0;
  line-height: 150%;
}

legend + label {
  padding: 0;
}

li label {
  padding: 0;
}

input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  border: 1px solid #cecece;
  font-size: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline;
  width: auto;
  border: none;
}

input[type="reset"],
button {
  all: revert;
}

select {
  width: auto;
  font-size: revert;
}

textarea {
  resize: vertical;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}
