html {
  font-family: Arial, Helvetica, sans-serif;
  color: #535358
}

main {
  border: 2px solid #979797;
  box-sizing: border-box;
  padding: 1.2rem;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  color: #cc4948;
  margin: 1.5rem 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  line-height: 2.2em;
  margin: 1.5em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

code, pre {
  font-size: 1rem;
  padding: 1em 0;
}

figure {
  border: 2px dashed #545454;
  box-sizing: border-box;
  padding: 30px;
  margin: 2.7rem 2.5rem;
  width: 70%;
}

figure p {
  line-height: 1em;
}

#inline-margin a {
  margin: 30px;
}

#inline-padding {
  font-size: 0;
}

#inline-padding p {
  font-size: 1rem;
  margin: 0;
}

#inline-padding a,
#inline-floating a {
  padding: 30px;
  color: white;
  background-color: #007f01;
}

#inline-floating {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

#inline-floating a {
  float: left;
  box-sizing: border-box;
  margin: 45px 15px;
  border: 3px solid #006300;
}

#block-elements figure,
#inline-block-elements figure,
#floats-and-positioning figure {
  width: 100%;
  border: none;
  padding: 0;
  margin: 1.5rem 0;
}

#block-elements div,
#block-elements a,
#inline-block-elements a {
  color: white;
  background-color: #228ffc;
}

#block-elements a {
  display: block;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#block-height-only div {
  color: white;
  background-color: #007f01;
  box-sizing: border-box;
  height: 60px;
  padding: 20px;
  margin: 20px;
}

#block-width-only div {
  color: white;
  background-color: #fc6346;
  width: 90px;
}

#block-width-and-height div {
  color: white;
  background-color: #fcbec9;
  box-sizing: border-box;
  width: 180px;
  height: 120px;
  padding: 20px;
  margin: 20px;
}

#block-float-no-width-height,
#block-float-width-and-height {
  overflow: hidden;
}

#block-float-no-width-height div,
#block-float-width-and-height div {
  float: left;
}

#block-float-no-width-height div + div,
#block-float-width-and-height div + div {
  float: right;
}

#block-float-no-width-height div {
  border: 1px solid #fc6346;
}

#block-float-no-width-height div + div,
#block-float-width-and-height div:first-of-type {
  background-color: #fc6346;
}

#block-float-width-and-height div {
  box-sizing: border-box;
  width: 40%;
  padding: 1.5em;
  text-align: center;
}

#block-float-width-and-height div + div {
  width: 50%;
}

#inline-block-elements {
  border-bottom: 2px dashed #545454;
  padding-bottom: 3em;
}

#inline-block-elements figure {
  margin: 3rem 0;
}

#inline-block-elements figure ul {
  padding: 0;
  margin: auto;
  width: max-content;
}

#inline-block-elements figure li {
  list-style-type: none;
  display: inline-block;
}

#inline-block-elements figure a {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  height: 4em;
  width: 11.5em;
  padding: 1.5em 0;
  margin: 0 0.5em;
}

#floats-and-positioning h1:first-of-type {
  text-align: center;
}

#floats::after {
  content: " ";
  display: block;
  clear: both;
}

#floats div {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 2.5em;
  color: white;
  background-color: #fc6346;
  text-align: center;
  font-weight: bold;
}

#floats div + div {
  background-color: #228ffc;
}

#floats div + div + div {
  background-color: #2d8a56;
  width: 100%;
  padding: 1em;
}
