@import url("whitespace-reset.css");

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-areas:
    "header main";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}
