body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #323232;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0.75rem;
  margin: auto;
  display: grid;
  grid-template-areas:
    "header"
    "figure"
    "footer";
  grid-template-columns: 1fr;
}

header {
  grid-area: header;
  justify-self: center;
}

figure {
  grid-area: figure;
  margin: 0;
}

figcaption {
  font-size: 80%;
  margin-top: 1em;
  margin-bottom: 2em;
}

footer {
  grid-area: footer;
}

img {
  display: block;
  object-fit: cover;
  box-sizing: border-box;
  border: 0.75rem solid white;
  width: 100%;
}

footer img {
  border-width: 2px;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2cqw;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 1280px) {
  main {
    max-width: 100%;
    grid-template-areas:
    "header header"
    "figure footer";
    grid-template-columns: 950px 1fr;
    gap: 0 2rem;
  }

  ul {
    grid-template-columns: 1fr;
  }

  footer img {
    border-width: 0.5cqw;
  }
}

@media screen and (max-width: 900px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
