html {
  font: normal 24px Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header   header   header"
    "nav    nav      nav      nav"
    "aside1 article1 article1 aside2"
    "aside3 article2 article2 article2"
    "footer footer   footer   footer"
    ;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
}

header, h1 {
  background-color: blue;
  color: white;
}

h1 {
  margin: 0;
}

header {
  text-align: center;
  grid-area: header;
  padding: 1rem;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-areas:
    "logo copyright copyright copyright";
  grid-template-columns: repeat(4, 1fr);
}

nav {
  background-color: cyan;
  grid-area: nav;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

li {
  text-align: center;
  width: auto;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
}

#aside-1 {
  grid-area: aside1;
}

#aside-2 {
  grid-area: aside2;
}

#aside-3 {
  background-color: pink;
  grid-area: aside3;
}

#article-1 {
  grid-area: article1;
}

#article-2 {
  background-color: skyblue;
  grid-area: article2;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
}

#copyright {
  margin: auto 1rem auto auto;
  grid-area: copyright;
}

#logo {
  background-color: orange;
  grid-area: logo;
}

#logo img {
  width: 100%;
  display: block;
}
